.idea/
.ropeproject/
__pycache__/
*.pyc
.DS_Store
.DS_Store?
.tags
.tags_swap
.tags*
tags
.cache
.vscode/

.env
.python-version

.coverage
.coverage.*
*.un~
*.swo
*.swp
tmp/**
*.py~
*.js~

**/#*#
.#*
**/*~
